# Object files
*.o
*.ko
*.map

# Keil uVision
*.bak
*.d
*.crf
*.lnp
*.dep
*.uvguix.*
*.uvgui.*
*.lst
*.sct
*.iex
*.__i
*.*~
*.TMP
*.tmp
*.uvproj.saved_uv4
*.build_log.*

# Libraries
*.lib
*.a
*.zip

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.axf
*.bin
*.hex

# Visual Studio
*.suo
*.ipch
*.vcxproj.*
*.sdf
*.sln.*

